{
    "token":             "user-token",
    "client":            {
        "options": {
            "getAllUsers": true,
            "maxShards":   1
        }
    },
    "admin":             "user-id",
    "prefix":            ">",
    "response_prefix":   "<>",
    "disabled_commands": [],
    "config_dir":        "./config"
}
